<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入库申请</title>
    <link href="__PUBLIC__/html/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/html/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/html/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$type == 1 ? '入库' : '出库'}</h5>
                    <div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="edit_stock" action="" method="post">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">订单号：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" value="{$audit_order_number}" name="audit_order_number" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" value="{$type}" name="type">
                            <label class="col-sm-3 control-label">产品名：</label>
                            <div class="col-sm-4">
                                <input id="product_name" value="{$product_name}" name="product_name" class="form-control" type="text" readonly>
                                <input type="hidden" value="{$product_id}" name="product_id">
                                <input type="hidden" value="{$id}" name="id">
                                <input type="hidden" value="1" name="type">
                                <input type="hidden" value="{:session('staffId')}" name="proposer">
                                <input type="hidden" value="{:session('nickname')}" name="proposer_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">仓库：</label>
                            <div class="col-sm-4">
                                <select name="putInWarehouse" id="warehouseArr" class="form-control">
                                    <option value="" hidden>请选择入库仓库</option>
                                    <foreach name="warehouseData" item="vo">
                                        <option value="{$vo.re_id}">{$vo.repertory_name}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">数量：</label>
                            <div class="col-sm-4">
                                <input id="num" name="num" class="form-control" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-4">
                                <input id="tips" name="tips" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">审核员：</label>
                            <div class="col-sm-4">
                                <select name="auditorArr" id="shenheyuan" class="form-control">
                                    <option value="" hidden>请选择审核员</option>
                                    <foreach name="auditor" item="vo">
                                        <option value="{$vo.id}_{$vo.name}">{$vo.name}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">分类：</label>
                            <div class="col-sm-4">
                                <select name="cateArr" id="fenlei" class="form-control">
                                    <option value="" hidden>请选择分类</option>
                                    <foreach name="cate" item="vo">
                                        <option value="{$vo.id}_{$vo.cate_name}">{$vo.cate_name}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="form-group shengchanxian" style="display: none">
                            <label class="col-sm-3 control-label">生产线：</label>
                            <div class="col-sm-4">
                                <select name="putinProductionLineArr" id="putinProductionLine" class="form-control">
                                    <option value="" hidden>请选择生产线</option>
                                    <foreach name="putinProductionLine" item="vo">
                                        <option value="{$vo.arr}">{$vo.production_line}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <if condition="$type != 2">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">订单号：</label>
                                <div class="col-sm-4">
                                    <input name="action_order_number" class="form-control" type="text">
                                </div>
                            </div>
                        </if>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button class="btn btn-primary submitBtn" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/Admin/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/html/js/jquery.form.js"></script>
<script src="__PUBLIC__/html/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/html/js/plugins/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/html/js/demo/form-advanced-demo.min.js"></script>
<script src="__PUBLIC__/html/js/dwin/WdatePicker.js"></script>
<script src="__PUBLIC__/html/js/plugins/layer/layer.js"></script>
<script>
    $(function () {
        $('#edit_stock').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });

        function checkForm() {
            $('.submitBtn').attr('disabled', true)
        }

        function complete(data) {
            $('.submitBtn').attr('disabled', false)
            if (data.status == 1) {
                layer.msg(data.msg, {icon: 4, time: 1500, shade: 0.1}, function (index) {
                    layer.close(index);
                    index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index)
                });
            } else {
                layer.msg(data.msg, {icon: 5, time: 1500, shade: 0.1}, function (index) {
                    layer.close(index);
                });
                return false;
            }
        }
    });
    $('#fenlei').on('change', function () {
        if ($(this).val() == '3_生产入库' || $(this).val() == '13_返工生产入库'){
            $('.shengchanxian').show()
            $('.shengchanxian select').attr('required', true)
        }else {
            $('.shengchanxian').hide()
            $('.shengchanxian select').attr('required', false)
        }
    })

</script>
</body>
</html>
