<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="__PUBLIC__/html/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/html/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/html/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.3.6/theme-chalk/index.css" rel="stylesheet">
    <style>
        input {
            width: 100%;
            height: 100%;
            display: block;
            outline: none;
        }
        .el-table .warning-row {
             background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
        .head_thead{
            height: 40px;
            line-height: 40px;
            text-align: left;
            padding-left: 10px;
            font-size: 15px;
        }
        .el-autocomplete{
            width: 100%;
        }
        /* .el-button--primary {
            float: left;
        } */
        .add_button_new {
            text-align: left
        }
        .title_name_product{
            font-size:16px;
            text-align: left;
            margin-left:2%; 
        }
        .el-row{
            margin-bottom: 10px;
        }
        .cenNo{
            text-align: left
        }
    </style>
</head>
<body>
    <div id="app" style="text-align: center">
        <h1>湖南迪文科技有限公司销售出库单回退</h1>
        <br><br><br>
        <el-row>
            <el-col :span="22" :offset="1">
                    <el-form ref="form" :model="form" label-width="120px" size="medium" v-loading="loading">
                            <el-row>
                                <el-col :span="7"  :offset="1"  class="cenNo">
                                    <span>
                                      销售出库单号：  
                                    </span>{{form.stock_out_id}}
                                </el-col>
                                <el-col :span="7" :offset="1" class="cenNo">
                                    <span>
                                            购买单位：
                                    </span>{{form.cus_name}}
                                </el-col>
                                <el-col :span="7"  :offset="1" class="cenNo">
                                        <span>
                                                选单号：
                                        </span>{{form.choose_no}}
                                    </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="7"  :offset="1" class="cenNo">
                                    <span>
                                            快递单号：
                                    </span>{{form.express_no}}
                                </el-col>
                                <el-col :span="7" :offset="1" class="cenNo">
                                    <span>
                                            源单类型：
                                    </span>{{form.source_kind}}
                                </el-col>
                            </el-row>
                            <el-row>
                                    <el-col :span="23"  :offset="1" class="cenNo">
                                        <span>
                                                收货地址：
                                        </span>{{form.receiver_addr}}
                                    </el-col>
                                </el-row>
                            <el-row>
                                    <el-col :span="23"  :offset="1" class="cenNo">
                                        <span>
                                                发货地址：
                                        </span>{{form.invoice_addr}}
                                    </el-col>
                                </el-row>
                            <el-row :gutter="20">
                                <el-col :span="24">      
                                            <div>
                                                <br>
                                                <p class="title_name_product"><b>二、出货单物料信息 </b></p>
                                                <el-table ref="multipleTable" :data="product" tooltip-effect="dark"  style="width: 100%" @selection-change="handleSelectionChange" border>
                                                <el-table-column v-if="false" label="id" prop="id" type="index" align="center" header-align="center" width="50"></el-table-column>
                                                <el-table-column v-if="false" label="source_id" prop="id" type="index" align="center" header-align="center" width="50"></el-table-column>
                                                <el-table-column v-if="false" label="product_id" prop="product_id" align="center" header-align="center"></el-table-column>
                                                <el-table-column label="序号" type="index" :index="indexMethod"> </el-table-column>
                                                <el-table-column label="物料名称" prop="product_number" align="center" header-align="center"> </el-table-column>
                                                <el-table-column label="物料型号" prop="product_name" align="center" header-align="center"> </el-table-column>
                                                <el-table-column label="物料编号" prop="product_no" align="center" header-align="center"></el-table-column>
                                                <el-table-column label="待出数量" prop="out_processing" align="center" header-align="center"></el-table-column>
                                                <el-table-column label="锁库数量" prop="" align="center" header-align="center">
                                                    <template slot-scope="scope">
                                                        {{Number(scope.row.o_audit) + Number(scope.row.stock_number)}}
                                                    </template>
                                                </el-table-column>
                                                <!-- <el-table-column label="库存数量" prop="stock_number" align="center" header-align="center"></el-table-column> -->
                                                <el-table-column  label="需求量" prop="product_num" align="center" header-align="center" width="50"></el-table-column>
                                                <el-table-column  label="已出数量" prop="used_num"  align="center" header-align="center" width="50"></el-table-column>
                                                <el-table-column label="出库数量" width="100px" align="center" header-align="center" type="text">
                                                        <template slot-scope="scope">
                                                            {{scope.row.num}}
                                                        </template>
                                                </el-table-column>
                                                <el-table-column label="出货仓库" align="center" header-align="center" type="text">
                                                    <template slot-scope="scope">
                                                        {{scope.row.rep_pid}}
                                                    </template>    
                                                </el-table-column>
                                                <el-table-column label="操作" width="200px">
                                                        <template slot-scope="scope">
                                                            <el-button size="mini" type="warning" @click="segment_go(scope.$index, scope.row)">部分回退</el-button>
                                                            <el-button size="mini" type="primary" @click="segmentAll_go(scope.$index, scope.row)">全部回退</el-button>
                                                        </template>
                                                </el-table-column>
                                                </el-table>
                                            </div>
                                    <br>
                                    <el-dialog title="部分回退："  class="cenNo" :visible.sync="dialogFormVisible_segment">
                                        <el-form-item label="回退数量：">
                                                <el-input v-model="segment_num" @keyup.native="num_InputKey(segment_num)"></el-input>
                                            </el-form-item>
                                            <div slot="footer" class="dialog-footer">
                                                <el-button @click="dialogFormVisible_segment = false">取 消</el-button>
                                                <el-button type="primary" @click="segment_gooK()">回 退</el-button>
                                            </div>
                                    </el-dialog> 
                                        
                            <br>
                            <el-row> 
                                <el-col :span="7"  :offset="1" class="cenNo">
                                    <span>
                                       业务员： 
                                    </span>{{form.pic_name}}
                                </el-col>
                                <el-col :span="7" :offset="1" class="cenNo">
                                    <span>
                                            制单人：
                                    </span>{{form.create_name}}
                                </el-col>
                                <el-col :span="7" :offset="1" class="cenNo">
                                    <span>
                                            发货人：
                                    </span>{{send_name001.name}}
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="7"   :offset="1" class="cenNo">
                                    <span>
                                            审核人：
                                    </span>{{audit_name001.name}}
                                </el-col>
                                <el-col :span="7" :offset="1" class="cenNo">
                                    <span>
                                            保管人：
                                    </span>{{keep_name001.name}}
                                </el-col>
                                <el-col :span="7" :offset="1" class="cenNo">
                                    <span>
                                        记账人：
                                    </span>{{form.finance_check_name}}
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col  :offset="1" class="cenNo">
                                    <span>
                                            入库备注：
                                    </span>{{form.tips}}
                                </el-col>
                            </el-row>
                            <br>
                            <br>
                        </el-form>
            </el-col>
        </el-row>
    </div>
</body>
<script src="__PUBLIC__/html/js/jquery-1.11.3.min.js"></script>
<script src="/Public/html/js/vue.js"></script>
<script src="__PUBLIC__/html/js/jquery.form.js"></script>
<script src="__PUBLIC__/html/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/html/js/plugins/jeditable/jquery.jeditable.js"></script>
<script src="__PUBLIC__/html/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__PUBLIC__/html/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="__PUBLIC__/html/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/html/js/plugins/layer/layer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.3.6/index.js"></script>
<script>
    var formData = {$formData|json_encode};  //出货单源基本信息
    var orderformData = {$orderformData|json_encode};  //订单基本信息
    var materialData = {$materialData|json_encode};  //当前物料剩余数量
    var productData = {$productData|json_encode};  //订单物料信息
    var staffData = {$staffData|json_encode};  //员工列表
    var deptData = {$deptData|json_encode};  //部门列表
    var create_name = {$create_name|json_encode};  //创建人
    var cate_id = {$cate_id|json_encode};  //当前出库单类型ID
    var cate_name = {$cate_name|json_encode};  //出库类型名称
    var repMap = {$repMap|json_encode};  //出库名称
    var stockOutType = {$stockOutType|json_encode};
    var vm = new Vue({
        el: '#app',
        data : function(){
            return {
                loading:true,
                GeTATry:false,
                form :{
                    id:'',
                    stock_out_id:'',    //出库单编号',
                    source_id:'',   //源单主键',
                    tips:'',    //入库备注',
                    // xin
                    send_name:'',   //发货人
                    send_id:'',   //发货人id
                    audit_id:'',    //审核人ID',
                    audit_name:'',  //审核人姓名',
                    keep_id:'',     //保管人id',
                    keep_name:'',   //保管人姓名',
                    create_id:'',   //制单人id',
                    create_name:'',     //制单人姓名',
                    
                    choose_no:'',   //选单号',
                    source_kind:'',     //源单类型',
                    express_no:'',  //快递单号',

                    // jiu
                    cus_name:'',   //购买单位
                    receiver_addr:'',    //收货地址
                    invoice_addr:"",    //发货地址
                    finance_check_id:'', //记账人id
                    finance_check_name:'',  //记账人
                },
                audit_name001:'',
                keep_name001:'',
                send_name001:'',
                options_audit_name:[],
                options_keep_name:[],
                options_send_name:[],
                product:[],
                // 选中三个值 ，新增数据
                searchProduct: {
                    name: ''
                },
                searchProductRes: [],
                save_productNum:[],
                // 部分回退
                segment_num:'',
                pro_id:'',
                indexSave:'',
                dialogFormVisible_segment:false
                
            }
        },
        created : function () {
            this.loading = false
            this.product_comparison = [] 
            this.save_productNum.length = 0 
            this.form.pic_name = formData.pic_name,    //业务员姓名',
            this.form.invoice_addr = formData.invoice_addr,    //发货地址
            this.form.cus_name = formData.cus_name,    //源单主键' 
            this.form.receiver_addr = formData.receiver_addr    //收货地址
            this.form.tips = orderformData.tips,   
            this.form.source_id = orderformData.source_id,    //源单主键' 
            //  xin
            this.form.id = orderformData.id   //主键ID
            this.form.stock_out_id = orderformData.stock_out_id     //单编号
            this.form.send_name = orderformData.send_name   //发货人
            this.form.send_id = orderformData.send_id   //发货人id
            this.form.audit_id = orderformData.audit_id    //审核人ID',
            this.form.audit_name = orderformData.audit_name  //审核人姓名',
            this.form.keep_id = orderformData.keep_id     //保管人id',
            this.form.keep_name = orderformData.keep_name   //保管人姓名',
            this.form.create_id = orderformData.create_id   //制单人id',
            this.form.create_name = orderformData.create_name     //制单人姓名',
            this.form.choose_no = orderformData.choose_no   //选单号',
            this.form.express_no = orderformData.express_no  //快递单号',   
            this.form.source_kind =  stockOutType[orderformData.source_kind]     //源单类型',
            //记账人
            this.form.finance_check_id = formData.finance_check_id //记账人
            for(var i = 0;i< staffData.length;i++){
                if(this.form.finance_check_id == staffData[i].id){
                    this.form.finance_check_name = staffData[i].name
                }
            }
            //人员信息
            this.options_audit_name = staffData
            this.options_keep_name = staffData
            this.options_send_name = staffData
            this.audit_name001 = {
                'name':orderformData.audit_name,
                'id':orderformData.audit_id
            }
            this.keep_name001 = {
                'name':orderformData.keep_name,
                'id':orderformData.keep_id
            }
            this.send_name001 = {
                'name':orderformData.send_name,
                'id':orderformData.send_id
            }

            // 物料赋值   二
            for(let i in materialData){
                var obJ = {
                    source_id:'',
                    product_id:'',
                    product_number:'',
                    product_name:'',
                    product_no:'',
                    out_processing:'',
                    o_audit :'',
                    stock_number:'',
                    num:'',
                    rep_pid:'',
                    product_num:'',
                    used_num:''
                }
                this.product.push(obJ)
                this.product[i].id = materialData[i].id
                this.product[i].source_id = materialData[i].source_id
                this.product[i].product_id = materialData[i].product_id
                this.product[i].product_number = materialData[i].product_number
                this.product[i].product_name = materialData[i].product_name
                this.product[i].product_no = materialData[i].product_no
                this.product[i].o_audit = materialData[i].o_audit
                this.product[i].stock_number = materialData[i].stock_number
                this.product[i].out_processing = materialData[i].out_processing
                this.product[i].num = materialData[i].num
                this.product[i].product_type = materialData[i].product_type
                this.product[i].product_num = materialData[i].product_num
                this.product[i].used_num = materialData[i].used_num
                this.save_productNum.push(materialData[i].num)
                for(let key in repMap){
                    if(materialData[i].rep_pid == repMap[key].rep_id){
                        this.product[i].rep_pid = repMap[key].repertory_name
                    }
                }

            }
            this.product_comparison.push(materialData.length)
        },
        mounted() {
        },
        methods :{
            // 部分数量检测
            num_InputKey(value){
                if(value >=  this.product[this.indexSave].num){
                    layer.msg('部分回退回退数量不能大于等于申请数量')
                    this.segment_num = ''
                }
            },
            // 部分回退
            segment_go (index,row) {
                this.indexSave = index
                this.pro_id = row.id
                this.dialogFormVisible_segment = true
            }, 
            segment_gooK(){
                var data = {
                    'id':this.pro_id,
                    'source_kind':cate_id,
                    'num':this.segment_num
                }
                $.post('/Dwin/Stock/rollBackStockOutOnePartMaterial',data,function(res){
                    if(res.status == 200){
                        this.dialogFormVisible_segment = false
                    }
                    layer.msg(res.msg)
                })
            },
            // 全部回退
            segmentAll_go (index,row) {  
                var data = {
                    'id':row.id,
                    'source_kind':cate_id
                }
                $.post('/Dwin/Stock/rollBackStockOutOneMaterial',data,function(res){
                    if(res.status == 200){
                        window.location.reload()
                    }
                    layer.msg(res.msg)
                })
            }, 
            handleSelectionChange(val){
                console.log(val)
            },
            // 序号
            indexMethod(index){
                return index + 1 
            },
            // 时间戳转化为时间
            formatDateTime:function (timeStamp) {
                if(timeStamp != ''&&timeStamp != 0){
                    var date = new Date();
                    date.setTime(timeStamp * 1000);
                    var y = date.getFullYear();    
                    var m = date.getMonth() + 1;    
                    m = m < 10 ? ('0' + m) : m;    
                    var d = date.getDate();    
                    d = d < 10 ? ('0' + d) : d;    
                    var h = date.getHours();  
                    h = h < 10 ? ('0' + h) : h;  
                    var minute = date.getMinutes();  
                    var second = date.getSeconds();  
                    minute = minute < 10 ? ('0' + minute) : minute;    
                    second = second < 10 ? ('0' + second) : second;   
                    // return y + '-' + m + '-' + d+' '+h+':'+minute+':'+second;  
                    return y + '-' + m + '-' + d;  
                }else{
                    return ''
                }
            }
        }
    })
</script>
</html>