<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="__PUBLIC__/html/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/html/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/html/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.3.6/theme-chalk/index.css" rel="stylesheet">

    <style>
        body{
            color:black;
        }
        .selected{
            background: #d0d27e!important;
        }
        #staff th,td{
            white-space: nowrap!important;
        }
        .el-table thead{
            color:black!important;
        }

        .el-table td, .el-table th{
            padding-top: 2px!important;
            padding-bottom: 2px!important;
        }
        .el-pagination__jump{
            color:black!important;
        }
        /*.table-responsive{*/
            /*height: 400px;*/
            /*overflow: auto;*/
        /*}*/
        .dataTables_scroll{
            overflow: auto !important;
        }
        .dataTables_scrollHead{
            overflow: initial !important;
        }
        .dataTables_scrollBody{
            overflow:initial !important;
        }
        .table2000{
            width: 2000px;
        }
        #staff_wrapper{
            overflow: hidden;
        }
        .dataTables_scrollBody thead{
            visibility: hidden;
        }
        div.dataTables_scrollBody table{
            margin-top: -25px!important;
            margin-left: 1px;
        }
        .tab-pane{
            overflow: auto;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding:3px!important;
        }
        .el-dialog__body{
            text-align: center
        }
        /* 上传 */
        .uploadResume .el-upload .el-upload__input{
           display: none !important;
       }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
                <div class="title">
                        <h4>采购物料BOM不合格列表</h4>
                        <div>
                            <button class="btn btn-xs btn-outline btn-success refresh">刷 新</button>
                            <button class="btn btn-xs btn-outline btn-success audit_staff"><span class="glyphicon glyphicon-adjust"></span>BOM审核</button>
                            <button class="btn btn-xs btn-outline btn-success edit_staff"><span class="glyphicon glyphicon-plus"></span>BOM新增</button>
                            <button class="btn btn-xs btn-outline btn-success delete_staff"><span class="glyphicon glyphicon-remove"></span>删除Bom</button>
                            <!-- <button class="btn btn-xs btn-outline btn-success forbidden_staff"><span class="glyphicon glyphicon-remove"></span>bom禁用</button> -->
                            <button class="btn btn-xs btn-outline btn-success revamp_staff"><span class="glyphicon glyphicon-align-justify"></span>BOM修改</button>
                            <button class="btn btn-xs btn-outline btn-success details_staff"><span class="glyphicon glyphicon-cloud-upload"></span>导入Execl</button>
                            <button class="btn btn-xs btn-outline btn-success indent_staff"><span class="glyphicon glyphicon-cloud-download"></span>导出Execl</button>
                        </div>
                    </div>
            <div class="table-responsive">
                <table id="staff" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>物料编号</th>
                            <th>物料型号</th>
                            <th>物料名称</th>
                            <th>BOM编号</th>
                            <th>BOM组别</th>
                            <th>BOM分组名</th>
                            <th>审核状态</th>
                            <th>创建人</th>
                            <th>创建时间</th>
                            <th>备注说明</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="ibox-content" id="app">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">物料清单</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="contact">
                        <table class="table table-striped table-hover table-border">
                            <tr>
                                <th>物料编号</th>
                                <th>物料型号</th>
                                <th>物料名称</th>
                                <th>物料数量</th>
                                <th>更新时间</th>
                                <th>备注说明</th>
                            </tr>
                            <tr v-for="item in bomInfo">
                                <td>{{item.product_no  || ''}}</td>
                                <td>{{item.product_id  || ''}}</td>
                                <td>{{item.product_number  || ''}}</td>
                                <td>{{item.num  || ''}}</td>
                                <td>{{item.update_time || ''}}</td>
                                <td>{{item.tips || ''}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- 审核 弹框 -->
                <el-dialog title="BOM审核：" class="selsctDialog" :visible.sync="dialogVisible" width="30%">
                   <el-button type="primary" @click="eleClick_that(2)">合 格</el-button>
                   <el-button type="primary" @click="eleClick_that(1)" style="margin-left: 54px">不合格</el-button>
               </el-dialog>
                <!-- 审核 execl -->
                <el-dialog title="BOM EXECL上传：" class="selsctDialog" :visible.sync="dialogExecl" width="30%">
                    <el-upload
                        class="uploadResume"
                        action="{:U('uploadByexecl')}"
                        :on-success="papersUploadSuccess"
                        :on-error="uploadError"
                        :auto-upload="true"
                        >
                        <el-button size="small" type="primary">导入BOM Execl</el-button>
                    </el-upload>
                    </el-dialog>
                
                <!-- 审核 下载Execl -->
                <el-dialog title="导出BOM EXECL：" class="selsctDialog" :visible.sync="dialogUpdataExecl" width="50%">
                    <div>
                                <span>BOM编号：</span>
                                <el-select v-model="dialog.bomNumber" multiple filterable placeholder="请选择BOM编号(可多选)">
                                    <el-option
                                        v-for="item in BomNUM"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                                
                                <span  style="margin-left: 10%"> 审核状态：</span>
                                <el-select v-model="dialog.auditMSG" placeholder="请选择">
                                    <el-option
                                        v-for="item in options_audit"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                        </div>
                        <div   style="margin-top: 20px">
                               <span> 是否删除：</span>
                                <el-select v-model="dialog.del_status" placeholder="请选择">
                                    <el-option
                                        v-for="item in options_del"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>

                                <span   style="margin-left: 10%">BOM组别：</span>
                                <el-select v-model="dialog.groung_status" placeholder="请选择">
                                    <el-option
                                        v-for="item in options_status"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                        </div>
                     
                        <div  style="margin-top: 20px">
                            <el-button type="primary" @click="updataExeclBUT">下载 Execl</el-button>
                        </div>
                        

                </el-dialog>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/html/js/jquery-1.11.3.min.js"></script>
<script src="/Public/html/js/vue.js"></script>
<script src="__PUBLIC__/html/js/jquery.form.js"></script>
<script src="__PUBLIC__/html/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/html/js/plugins/jeditable/jquery.jeditable.js"></script>
<script src="__PUBLIC__/html/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__PUBLIC__/html/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="__PUBLIC__/html/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/html/js/plugins/layer/layer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.3.6/index.js"></script>

<script>
    var statusMap = {$statusMap|json_encode};  //已  删除、未
    var groupMap = {$groupMap|json_encode};     //成品
    var auditMap = {$auditMsg|json_encode};     // 未成品
    var table = $('#staff'). DataTable({
        ajax: {
            type: 'post',
            data: {
                flag: 1
            }
        },
        "scrollY": 440,
        "scrollX": false,
        "scrollCollapse": true,
        "destroy"      : true,
        "paging"       : true,
        "autoWidth"	   : false,
        "pageLength": 25,
        serverSide: true,
        // order:[[21, 'desc']],
        columns: [
            {searchable: true, data: 'product_no'},
            {searchable: true, data: 'product_name'},
            {searchable: true, data: 'product_number'},
            {searchable: true, data: 'bom_id'},
            {searchable: true, data: 'bom_type',render: function (data){return ['','成品', '半成品','元器件'][+data]}},
            {searchable: true, data: 'bom_type_name'},
            {searchable: false, data: 'bom_status',render: function (data){return ['未审核', '不合格','启用','禁用'][+data]}},
            {searchable:  true, data:  'name'},
            {searchable:  true, data:  'create_time',render: function(data){return vm.formatDateTime(data)}},
            {searchable:  true, data:  'remark'},
        ],
        oLanguage: {
            "oAria": {
                "sSortAscending": " - click/return to sort ascending",
                "sSortDescending": " - click/return to sort descending"
            },
            "LengthMenu": "显示 _MENU_ 记录",
            "ZeroRecords": "对不起，查询不到任何相关数据",
            "EmptyTable": "未有相关数据",
            "LoadingRecords": "正在加载数据-请等待...",
            "Info": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录。",
            "InfoEmpty": "当前显示0到0条，共0条记录",
            "InfoFiltered": "（数据库中共为 _MAX_ 条记录）",
            "Processing": "<img src='../resources/user_share/row_details/select2-spinner.gif'/> 正在加载数据...",
            "Search": "搜索：",
            "Url": "",
            "Paginate": {
                "sFirst": "首页",
                "sPrevious": " 上一页 ",
                "sNext": " 下一页 ",
                "sLast": " 尾页 "
            }
        }
    })
    var bomId
    var bom_id
    var contractId
    var bom_status
    // var id
    var orderData
    $('tbody').on('click', 'tr', function () {
        orderData = table.row(this).data();
        console.log(orderData)
        contractId = orderData.contract_pid
        bomId = orderData.id;   // 订单主键
        bom_id = orderData.bom_id      //订单编号
        bom_status = orderData.bom_status
        $('tr').removeClass('selected')
        $(this).addClass('selected')
        $.post('/Dwin/bom/bomSumMsg', {id: bomId}, function (res) {
            vm.bomInfo = res.data
            for(var i = 0 ; i < res.data.length ;i ++){
                vm.bomInfo[i].update_time = vm.formatDateTime(vm.bomInfo[i].update_time)
            }
        })
    })
    var vm = new Vue({
        el: '#app',
        data: function () {
            return {
                bomInfo:[],
                dialogVisible:false,
                dialogVisible_delete:false,
                dialogExecl:false,
                dialogUpdataExecl:false,
                dialog:{
                    bom_id:'',
                    auditMSG:2,
                    groung_status:1,
                    del_status:0,
                    bomNumber:[]
                },
                BomNUM: [],
                options_status:[],
                options_del:[],
                options_audit:[],
                upLoadData:{
                    id:''
                },
                bomUrl : ""
            }
        },
        methods: {
            // 审核确定
            eleClick_that(vul){
                var vm = this
                var data = {
                    'bomId': bomId,
                    'status':vul
                }
                $.post('{:U("auditBom")}', data , function (res) {
                    console.log(res)
                    if(res.status == 200){
                        table.ajax.reload()
                        vm.dialogVisible = false
                    }
                    layer.msg(res.msg)
                })
            },
             // 获取编号
             getBomNumber_num:function(item) {
                 console.log(item.key)
                $.get('createBomId',function (res) {
                    if(res.status==200){
                        vm.dialog.bom_id=res.data.bomIdString
                        vm.$message({
                            showClose: true,
                            message: res.msg,
                            type: 'success'
                        });
                    }else{
                        vm.$message({
                            showClose: true,
                            message: res.msg,
                            type: 'error'
                        });
                    }
                    
                })
            },
            // 下载 Execl
            updataExeclBUT () {
                var data = {
                    'bom_status':vm.dialog.auditMSG,
                    'is_del':vm.dialog.del_status,
                    'bomArr' : vm.dialog.bomNumber,
                    'bom_type':vm.dialog.groung_status
                }
                var index = layer.load('正在生成xlsx文件');
                $.post('exportToExcel', data, function (res) {
                    layer.close(index);
                    if (res.status != 200) {
                        vm.$message({
                            showClose:true,
                            message:res.msg,
                            type:'success'
                        })
                    } else {
                        if (res.data.file_url) {
                            vm.bomUrl = res.data.file_url;
                            layer.confirm('是否确认下载？', {
                                btn: ['确认','取消'] 
                            }, function(){
                                window.open(vm.bomUrl);
                                layer.msg(res.msg)
                            }, function(){
                                layer.msg('下载取消')
                            });
//                            window.open(res.data.file_url);
                        } else {
                            vm.$message({
                                showClose:true,
                                message:res.msg,
                                type:'success'
                            })
                        }
                    }
                })
            },
            // 上传 EXECL =>
            papersUploadSuccess: function (res) {
                layer.msg(res.msg)
            },
            // 上传 Execl 失败
            uploadError (res) {
                layer.msg(res.msg)
            },
            // 时间戳转化为时间
            formatDateTime:function (timeStamp) { 
                var date = new Date();
                date.setTime(timeStamp * 1000);
                var y = date.getFullYear();    
                var m = date.getMonth() + 1;    
                m = m < 10 ? ('0' + m) : m;    
                var d = date.getDate();    
                d = d < 10 ? ('0' + d) : d;    
                var h = date.getHours();  
                h = h < 10 ? ('0' + h) : h;  
                var minute = date.getMinutes();  
                var second = date.getSeconds();  
                minute = minute < 10 ? ('0' + minute) : minute;    
                second = second < 10 ? ('0' + second) : second;   
                // return y + '-' + m + '-' + d+' '+h+':'+minute+':'+second;  
                return y + '-' + m + '-' + d;  
            }
        }
    })
    // updata Execl
    $('.indent_staff').on('click', function () {
        vm.options_del.length = 0
        vm.options_audit.length = 0
        vm.options_status.length = 0
        vm.BomNUM.length = 0
        vm.dialog.auditMSG = ''
        vm.dialog.del_status  = ''
        vm.dialog.bomNumber = ''
        vm.dialog.groung_status = ''
        for(let i in groupMap){
            vm.options_status.push({'value':String(i), 'label':groupMap[i]})
        }
        for(let i in statusMap){
            vm.options_del.push({'value':String(i), 'label':statusMap[i]})
        }
        for(let i in auditMap){
            vm.options_audit.push({'value':String(i), 'label':auditMap[i]})
        }
        $.post('{:U("getBomIdList")}', {'bom_id':''} , function (res) {
            for(var i = 0;i < res.data.length;i++){
                vm.BomNUM.push({'value':res.data[i].bom_id , 'label':res.data[i].bom_id})
            }
        })
        vm.dialogUpdataExecl = true 
    })
    // 点击 Execl
    $('.details_staff').on('click', function () {
        if (bom_id === undefined){
            layer.msg('请选择一个BOM项')
        } else {
            vm.dialogExecl = true
        }
    })
    // BOM  修改
    $('.revamp_staff').on('click', function () {
        if(bom_id == undefined){
            layer.msg('请选择一个BOM项')
        }else{
            if(bom_status == '2'){
                layer.msg('当前项已启用，不能修改！')
            }else{
                var index = layer.open({
                    type: 2,
                    title: '湖南迪文有限公司Bom修改',
                    content: '/Dwin/Bom/editBom?bomId='+ bomId,
                    area: ['90%', '90%'],
                    shadeClose:true,
                    end: function () {
                        table.ajax.reload()
                    }
                }) 
            }
        }
    })
    // BOM  新增
    $('.edit_staff').on('click', function () { 
        var index = layer.open({
            type: 2,
            title: '湖南迪文有限公司Bom',
            content: '/Dwin/Bom/createBom',
            area: ['90%', '90%'],
            shadeClose:true,
            end: function () {
                table.ajax.reload()
            }
        }) 
    })
    // 刷新
    $('.refresh').on('click', function () {
        table.order([[5, 'desc']])
        table.ajax.reload()
    })
    // 审核
    $('.audit_staff').on('click', function () {
        if (bom_id === undefined){
            layer.msg('请选择一家供应商')
        } else {
            if(bom_status == '0'){
                vm.dialogVisible = true
            }else if(bom_status == '1'){
                vm.$message({
                    showClose: true,
                    message: '该项审核不通过,请去修改！',
                    type: 'warning'
                });
            }else if(bom_status == '2'){
                vm.$message({
                    showClose: true,
                    message: '该项审核已通过,不能再次审核！',
                    type: 'warning'
                });
            }
        }
    })
    // 删除Bom
    $('.delete_staff').on('click', function () {
        if (bom_id === undefined){
            layer.msg('请选择一家供应商')
        } else {
            if(bom_status == '2'){
                layer.msg('该订单审核已通过,不能删除BOM！')
            }else{
                var data = {
                    'bomId' : bomId,
                }
                layer.confirm('确认删除?', function (aaa) {
                    $.post('{:U("/Dwin/bom/deleteBom")}', data, function (res) {
                        if (res.status == 200) {
                            table.ajax.reload()
                        }
                        layer.msg(res.msg)
                    })
                })
            }
        }
    })
    // 禁用Bom
    $('.forbidden_staff').on('click', function () {
        if (bom_id === undefined){
            layer.msg('请选择一家供应商')
        } else {
           
        }
    })
</script>
</body>
</html>