<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM--客户详情</title>
    <link href="__PUBLIC__/html/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/html/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/html/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <style type="text/css">
        body {
            color: black;
        }
        .mouseOn{
            cursor:pointer;
        }
        .noCheckYet{
            color:black;
        }
        .checkNot{
            color: red;
        }
        .checkYes{
            color:blue;
        }
    </style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>客户基本信息</h5>
                    <div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10%;">客户编号</th>
                                <th style="width: 20%;">客户名</th>
                                <th>关联客户</th>
                                <th>行业</th>
                                <th>客户网址</th>
                                <th style="width: 20%;">所在地</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="idOfCus"><middle>{$data.cid}</middle></td>
                                <td><middle>{$data.cname}</middle></td>
                                <td id="cusSubCheck">
                                    <notempty name='data.sub_name'>
                                        上级公司：{$data.sub_name}
                                    </notempty>
                                    <notempty name='data.son_name'>
                                        子公司：{$data.son_name}
                                    </notempty>
                                </td>
                                <td><middle>{$data.indus}</middle></td>
                                <td><middle>{$data.website}</middle></td>
                                <td><middle>{$data.province}</middle></td>
                            </tr>
                            <tr>
                                <th rowspan="3">公司地址</th>
                                <td colspan="5">{$data.addr.0}</td>
                            </tr>
                            <tr><td colspan="5">{$data.addr.1}</td></tr>
                            <tr><td colspan="5">{$data.addr.2}</td></tr>
                            <tr>
                                <th>客户来源</th>
                                <th>客户级别</th>
                                <th>客户状态</th>
                                <th>客户创建人</th>
                                <th>客户审核人</th>
                                <th>审核状态</th>
                            </tr>
                            <tr>
                                <td>{$data.csource}</td>

                                <td>{$data.clevel}级</td>
                                <td>
                                    <switch name="data.cstatus">
                                        <case value="1">公共客户</case>
                                        <case value="2">个人客户</case>
                                    </switch>
                                </td>
                                <td>{$data.builder_name}</td>
                                <td class="text-nowrap">{$data.auditor_name}</td>
                                <td class="text-nowrap">
                                    <switch name="data.auditstatus">
                                        <case value="1">{$data.auditorname}未审核</case>
                                        <case value="2">总经理未审核</case>
                                        <case value="3">审核通过</case>
                                        <case value="4">不通过</case>
                                    </switch>
                                </td>
                            </tr>
                            <tr>
                                <th>近4月订单总金额</th>
                                <th>联系人</th>
                                <th>客户联系记录</th>
                                <th>项目进度</th>
                                <th>客服记录</th>
                                <th>售后记录</th>

                            </tr>
                            <tr>
                                <td class="mouseOn" id="">{$data.ototal}元</td>
                                <td class="mouseOn" id=""><if condition="$data.sumcontacter eq ''">0<else/>{$data.sumcontacter}</if>人</td>
                                <td class="mouseOn" id="numOfContactRecord">{$data.countrecord}</td>
                                <td class="mouseOn" id="numOfPrj">{$data.prosum}</a></td>
                                <td class="mouseOn" id="numOfOnline">{$data.sumonline}</td>
                                <td class="mouseOn" id="numOfSale">{$data.sumservice}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <select name="auditers" id="auditssss" class="form-control">
                                            <option value="">请选择审核人</option>
                                            <volist name="auId" id="vol">
                                                <option value="{$vol.id}">{$vol.name}</option>
                                            </volist>
                                        </select>
                                    </td>
                                    <td colspan="2">
                                        <input class="btn btn-outline btn-success" type="button" id="cusApplication" value="提交客户申请" style="text-align: center;">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="table-contacter" style="display: none;">
                        <table class="table table-striped table-bordered table-hover dataTables-contacter">
                            <thead>
                            <tr><td colspan="8"><h4>企业联系人</h4></td></tr>
                            <tr>
                                <th>姓名</th>
                                <th>职务</th>
                                <th>手机</th>
                                <th>座机</th>
                                <th>邮箱</th>
                                <th>微信</th>
                                <th>qq</th>
                                <th>创建人</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="contacters" id="vol">
                                <tr>
                                    <td>{$vol.name}</td>
                                    <td>{$vol.position}</td>
                                    <td>{$vol.phone}</td>
                                    <td>{$vol.tel}</td>
                                    <td>{$vol.emailaddr}</td>
                                    <td>{$vol.wechatnum}</td>
                                    <td>{$vol.qqnum}</td>
                                    <td>{$vol.addname}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-order" style="display: none;">
                        <table class="table table-striped table-bordered table-hover dataTables-orderList">
                            <thead>
                            <tr><td colspan="7"><h4>采购记录</h4></td></tr>
                            <tr>
                                <th>订单编号</th>
                                <th>订单名称</th>
                                <th>订单金额</th>
                                <th>下单时间</th>
                                <th>订单交期</th>
                                <th>订单详情</th>
                                <th>负责人</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="orderContent" id="vol">
                                <tr style="text-align: center;">
                                    <td>{$vol.order_id}</td>
                                    <td>{$vol.oname}</td>
                                    <td>{$vol.oprice}</td>
                                    <td>{$vol.otime|date='Y-m-d',###}</td>
                                    <td>{$vol.deliverytime|date='Y-m-d H',###}</td>
                                    <td>{$vol.odetail}</td>
                                    <td>{$vol.picname}</td>
                                </tr>
                            </volist>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7">{$orderContent[0]['cname']}采购订单总金额：&emsp;{$orderContent[0]['ototal']}元</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="table-contactRecord" style="display: none;">
                        <table class="table table-striped table-bordered table-hover dataTables-contactRecord">
                            <thead>
                            <tr><td colspan="6"><h4>业务联系记录</h4></td></tr>
                            <tr>
                                <th>联系时间</th>
                                <th>主题</th>
                                <th>联系内容</th>
                                <th>联系类型</th>
                                <th>提交时间</th>
                                <th>提交人</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="contacts" id="vol">
                                <tr style="text-align: center;">
                                    <td>{$vol.ctime|date='Y-m-d H:i:s',###}</td>
                                    <td>{$vol.theme}</td>
                                    <td class="cusContact mouseOn" data="{$vol.content}">{$vol.content|subtext=30}</td>
                                    <td><switch name="vol.ctype">
                                        <case value="1">电话</case>
                                        <case value="2">拜访</case>
                                        <case value="3">会议</case>
                                        <case value="4">即时通讯（qq,微信）</case>
                                        <case value="5">邮件</case>
                                        <case value="6">其他</case>
                                    </switch></td>
                                    <td>{$vol.posttime|date='Y-m-d H:i:s',###}</td>
                                    <td>{$vol.pname}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-prjUpdateList" style="display: none;">
                        <table class="table table-striped table-bordered table-hover dataTables-prjUpdateList">
                            <thead>
                            <tr><td colspan="5"><h4>项目更新情况</h4></td></tr>
                            <tr>
                                <th>项目名称</th>
                                <th>更新时间</th>
                                <th>进度更新内容</th>
                                <th>更新人</th>
                                <th>审核状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="prjProgress" id="vol">
                                <tr style="text-align: center;">
                                    <td>{$vol.prjname}</td>
                                    <td>{$vol.posttime|date='Y-m-d H:i:s',###}</td>
                                    <td class="prjUpdContent mouseOn" data="{$vol.prjcontent}">{$vol.prjcontent|subtext=30}</td>
                                    <td>{$vol.prjername}</td>
                                    <td>
                                        <switch name="vol.audistatus">
                                            <case value="1"><span class="noCheckYet">未审核</span></case>
                                            <case value="2"><span class="checkYes">有效</span></case>
                                            <case value="3"><span class="checkNot">无效</span></case>
                                        </switch>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <input class="hidden" type="hidden" id="rolePrj" value="{$Think.session.staffId}">
                    </div>
                    <div class="table-onlineSale" style="display: none;">
                        <table class="table table-striped table-bordered table-hover dataTables-onlineSale">
                            <thead>
                            <tr><td colspan="7"><h4>在线客服记录</h4></td></tr>
                            <tr>
                                <th>通话时间</th>
                                <th>通话内容</th>
                                <th>处理方式</th>
                                <th>来电人</th>
                                <th>客服姓名</th>
                                <th>审核状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="onlineService" id="vol">
                                <tr style="text-align: center;">
                                    <td>{$vol.addtime|date='Y-m-d H:i:s',###}</td>
                                    <td class="cusAsk mouseOn" data="{$vol.content}">{$vol.content|subtext=10}</td>
                                    <td class="onAnswer mouseOn" data="{$vol.answercontent}">{$vol.answercontent|subtext=10}</td>
                                    <td>{$vol.caller}</td>
                                    <td>{$vol.pname}</td>
                                    <td>
                                        <switch name="vol.austatus">
                                            <case value="1"><span class="noCheckYet">未审核</span></case>
                                            <case value="2"><span class="checkYes">有效</span></case>
                                            <case value="3"><span class="checkNot">无效</span></case>
                                        </switch>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-saler" style="display: none;">
                        <!--<h4>客户信息：&emsp;xxxxxxx</h4>-->
                        <table class="table table-striped table-bordered table-hover dataTables-saler">
                            <thead>
                            <tr><td colspan="7"><h4>在线客服记录</h4></td></tr>
                            <tr>
                                <th>客户问题</th>
                                <th>解决方式</th>
                                <th>处理时间</th>
                                <th>售后人姓名</th>
                                <th>审核状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="saleService" id="vol">
                                <tr style="text-align: center;">
                                    <td class="descrip mouseOn" data="{$vol.pro_description}">{$vol.pro_description|subtext=10}</td>
                                    <td class="solvePro mouseOn" data="{$vol.pro_solve}">{$vol.pro_solve|subtext=10}</td>
                                    <td>{$vol.addtime|date='Y-m-d H:i:s',###}</td>
                                    <td>{$vol.pname}</td>
                                    <td>
                                        <switch name="vol.sstatus">
                                            <case value="1"><span class="noCheckYet">未审核</span></case>
                                            <case value="2"><span class="checkYes">有效</span></case>
                                            <case value="3"><span class="checkNot">无效</span></case>
                                        </switch>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/html/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/html/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/html/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__PUBLIC__/html/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="__PUBLIC__/html/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/html/js/plugins/layer/layer.js"></script>
<script src="__PUBLIC__/html/js/dwin/customer/common_func.js"></script>
<script>
    var controller = "__CONTROLLER__";
    $(document).ready(function()
    {
        dataTabelset('contacter', 5);
        dataTabelset('orderList', 5);
        dataTabelset('contactRecord', 5);
        dataTabelset('prjUpdateList', 5);
        dataTabelset('onlineSale', 5);
        dataTabelset('saler', 5);
        dataTabelset('cusfile', 5);
    });
</script>
<script src="__PUBLIC__/html/js/dwin/customer/business_app.js"></script>
</body>
</html>
