<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件查看</title>
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <link href="__PUBLIC__/html/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/html/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/html/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <style>
        .pages{
            padding: 50px;
            display: flex;
            justify-content: center;
        }
        .canvasContainer{
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>

<div class="canvasContainer">
    <div class="pages">
        <button class="btn btn-xs btn-info prev">上一页</button> &nbsp;&nbsp;
        <button class="btn btn-xs btn-info next">下一页</button>
        &nbsp; &nbsp;
        <span>
            <span class="page_num"></span> /
            <span class="page_count"></span>
    </span>
    </div>
</div>
<div class="canvasContainer">
    <canvas id="the-canvas"></canvas>
</div>
<div class="pages">
    <button class="btn btn-xs btn-info prev">上一页</button>&nbsp;&nbsp;
    <button class="btn btn-xs btn-info next">下一页</button>
    &nbsp; &nbsp;
    <span>
            <span class="page_num"></span> /
            <span class="page_count"></span>
    </span>
</div>
<script src="__PUBLIC__/html/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/html/js/jquery.form.js"></script>
<script src="__PUBLIC__/html/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/html/js/plugins/jeditable/jquery.jeditable.js"></script>
<script src="__PUBLIC__/html/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__PUBLIC__/html/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="__PUBLIC__/html/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/html/js/plugins/layer/layer.js"></script>
<script>
    if (!this.Uint8Array){
        layer.msg('旧版本浏览器无法正常显示此页面')
    }

    var pdfjsLib = window['pdfjs-dist/build/pdf'];
    pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';
    var pdfDoc = null,
        pageNum = 1,
        pageRendering = false,
        pageNumPending = null,
        scale = 2,
        canvas = document.getElementById('the-canvas'),
        ctx = canvas.getContext('2d');

    /**
     * Get page info from document, resize canvas accordingly, and render page.
     * @param num Page number.
     */
    function renderPage(num) {
        pageRendering = true;
        // Using promise to fetch the page
        pdfDoc.getPage(num).then(function (page) {
            var viewport = page.getViewport(scale);
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            // Render PDF page into canvas context
            var renderContext = {
                canvasContext: ctx,
                viewport: viewport
            };
            var renderTask = page.render(renderContext);

            // Wait for rendering to finish
            renderTask.promise.then(function () {
                pageRendering = false;
                if (pageNumPending !== null) {
                    // New page rendering is pending
                    renderPage(pageNumPending);
                    pageNumPending = null;
                }
            });
        });

        // Update page counters
        // document.getElementById('page_num').textContent = num;
        $('.page_num').text = num
    }

    /**
     * If another page rendering in progress, waits until the rendering is
     * finised. Otherwise, executes rendering immediately.
     */
    function queueRenderPage(num) {
        if (pageRendering) {
            pageNumPending = num;
        } else {
            renderPage(num);
        }
    }

    /**
     * Displays previous page.
     */
    function onPrevPage() {
        if (pageNum <= 1) {
            return;
        }
        pageNum--;
        queueRenderPage(pageNum);
    }
    // document.getElementById('prev').addEventListener('click', onPrevPage);
    $('.prev').on('click', onPrevPage)

    /**
     * Displays next page.
     */
    function onNextPage() {
        if (pageNum >= pdfDoc.numPages) {
            return;
        }
        pageNum++;
        queueRenderPage(pageNum);
    }
    // document.getElementById('next').addEventListener('click', onNextPage);
    $('.next').on('click', onNextPage)

    /**
     * Asynchronously downloads PDF.
     */
    pdfjsLib.getDocument('{$url}').then(function (pdfDoc_) {
        pdfDoc = pdfDoc_;
        // document.getElementById('page_count').textContent = pdfDoc.numPages;
        $('.page_count').text(pdfDoc.numPages)

        // Initial/first page rendering
        renderPage(pageNum);
    });

    $('body').on('contextmenu', function (e) {
        e.preventDefault()
    })
</script>
</body>

</html>