<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入库申请</title>
    <link href="/Public/html/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/html/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/html/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/html/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <style>
        .ibox-content {
            padding-left: 2em;
        }

        .ibox-content > .row {

        }

        .ibox-content > .row > div {
            padding: 1em;
        }

        .ibox-content > .row > .col-xs-2 {
            text-align: right;
            border-bottom: 1px solid #999c9e;
            font-weight: bold;
        }

        .ibox-content > .row > .col-xs-3 {
            margin-right: 1em;
            border-bottom: 1px solid #999c9e;
        }

        .btn {
            margin: 2px;
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins ">
                <div class="ibox-title ">
                    <h5>提交审核</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-2">订单号</div>
                        <div class="col-xs-3">{$plan.production_order}</div>
                        <div class="col-xs-2">备货方式</div>
                        <div class="col-xs-3">{$plan.stock_cate}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">业务员</div>
                        <div class="col-xs-3">{$plan.proposer}</div>
                        <div class="col-xs-2">产品名</div>
                        <div class="col-xs-3">{$plan.product_name}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">计划生产量</div>
                        <div class="col-xs-3">{$plan.production_plan_number}</div>
                        <div class="col-xs-2">生产地</div>
                        <div class="col-xs-3">{$plan.production_company}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">生产线</div>
                        <div class="col-xs-3">{$plan.production_line}</div>
                        <div class="col-xs-2">计划创建时间</div>
                        <div class="col-xs-3">{$plan.create_time}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">期待交货时间</div>
                        <div class="col-xs-3">{$plan.delivery_time}</div>
                        <div class="col-xs-2">备注</div>
                        <div class="col-xs-3">{$plan.tips | default = '空' }</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">生产计划状态</div>
                        <div class="col-xs-3">
                            <switch name="plan.production_status">
                                <case value="1">等待单据审核</case>
                                <case value="2">等待齐料确认</case>
                                <case value="3">正在生产</case>
                                <case value="4">等待产线确认</case>
                            </switch>
                        </div>
                    </div>
                    <if condition="$plan.production_status != 3">
                        <div class="row">
                            <div class="col-xs-2">审核备注</div>
                            <div class="col-xs-3"><input type="text" class="form-control tips"
                                                         style="padding: 0;margin: 0;height: 19px;"></div>
                        </div>
                        <if condition="$plan.production_status == 2">
                            <div class="row">
                                <hr>
                                <h4>物料登记表</h4>
                                <table class="table table-bordered table-striped table-hover" id="wuliaoModel">
                                    <tr>
                                        <th>仓库</th>
                                        <th>产品</th>
                                        <th>数量</th>
                                        <th>备注</th>
                                    </tr>
                                    <tr v-for="v in list">
                                        <td>{{v.warehouse_name}}</td>
                                        <td>{{v.product_name}}</td>
                                        <td>{{v.num}}</td>
                                        <td>{{v.tips}}</td>
                                    </tr>
                                </table>
                            </div>
                            所有仓库确认物料齐全后,点击通过审核
                        </if>
                        <div class="row">
                            <div class="col-xs-2" style="border: none">
                                <button class="btn btn-success">通过审核</button>
                            </div>
                            <if condition="$plan.production_status == 1">
                                <div class="col-xs-2" style="border: none">
                                    <button class="btn btn-warning">不通过审核</button>
                                </div>
                            </if>
                        </div>
                    </if>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="__PUBLIC__/html/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/html/js/jquery.form.js"></script>
<script src="__PUBLIC__/html/js/vue.js"></script>
<script src="__PUBLIC__/html/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/html/js/plugins/chosen/chosen.jquery.js"></script>
<script src="__PUBLIC__/html/js/demo/form-advanced-demo.min.js"></script>
<script src="__PUBLIC__/html/js/dwin/WdatePicker.js"></script>
<script src="__PUBLIC__/html/js/plugins/layer/layer.js"></script>
</body>
</html>





<script>
    var orderNumber = '{$plan.production_order}';
    var production_status = {$plan.production_status};
    var tips = $('.tips');
    $('.btn-success').on('click', function () {
        var that = this;
        $(that).attr('disabled', true);
        $.ajax({
            type: 'post',
            data: {
                'production_order': orderNumber,
                'tips': tips.val(),
                'production_status': production_status,
                'audit_result': 1
            },
            success: function (data) {
                if (data.status > 0) {
                    layer.msg(data.msg, {
                        icon: 1
                    }, function (index) {
                        layer.close(index);
                        index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index)
                    })
                } else {
                    layer.msg(data.msg, {
                        icon: 1
                    })
                }
                $(that).attr('disabled', false);
            }
        })
    });
    $('.btn-warning').on('click', function () {
        $.ajax({
            type: 'post',
            data: {
                'production_order': orderNumber,
                'tips': tips.val(),
                'production_status': production_status,
                'audit_result': 2
            },
            success: successCallback
        })
    })
    $('.choose').on('click', function () {
        layer.open({
            type: 2,
            title: '点击选择产品选择产品',
            content: "{:U('chooseProduct')}",
            area: ['100%', '100%'],
            btn: ['确定', '取消'],
            yes: function (index, layero) {
                var product = JSON.parse(localStorage.product);
                $('#product_id').val(product.id);
                $('#product_name').val(product.name);
                layer.close(index); //如果设定了yes回调，需进行手工关闭
            }
        })
    });
    <if condition = "$plan.production_status == 2" >
        var vm = new Vue({
            el: '#wuliaoModel',
            data: function () {
                return {
                    list: {$plan.prepare}
            }
            }
        });
    </if>
</script>
